version: '3'

services:
  www:
    image: wpdev-base
    container_name: wpdev-base
    labels:
      tag: wpdev-base
      group: ${APP_NAME}
      type: image

  proxy:
      image: wpdev-proxy
      container_name: wpdev-proxy
      ports:
        - "${APP_PORT}:80"
      labels:
        tag: ${APP_NAME}-proxy
        group: ${APP_NAME}
        type: image

  mysqldb:
    image: wpdev-mysql
    container_name: wpdev-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ../.data/mysql:/var/lib/mysql
      - ./images/mysql/configs:/etc/mysql/conf.d
      - ../database:/tmp/migrations
    labels:
      tag: ${APP_NAME}-mysql
      group: ${APP_NAME}
      type: image

  redis:
    image: redis
    container_name: wpdev-redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ../.data/redis:/data
    labels:
      tag: ${APP_NAME}-redis
      group: ${APP_NAME}
      type: image

networks:
  default:
    external:
      name: ${NETWORK_NAME}
